name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    # from https://determinate.systems/blog/nix-github-actions/
    steps:
    - uses: actions/checkout@v5
    - name: Install Nix
      uses: cachix/install-nix-action@v31
      with:
        # Mostly to avoid GitHub rate limiting
        extra_nix_config: |
          access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
    # should I consider nix build . and nix build .#test here?
    - name: debug build
      run: nix develop --command cargo build
    - name: debug mode tests
      run: nix develop --command cargo test
    - name: clippy
      run: nix develop --command cargo clippy
